:root{
--grayColor: rgb(90, 84, 84);
--whiteColor: #ffffff;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    grid-template-areas:
    '. . . . . '
    '. . logo . . '
    '. searchbar searchbar searchbar .'
    '. button button button .'
    'footer footer footer footer footer'
    ;
    
}
.container img{
    grid-area:  logo;
}
#searchbar{
    grid-area: searchbar;
    height: 37px;
    width: 70%;
    margin-top: 20px;
    justify-self: center;
    border-radius: 18px;
    border-width: 1px;
    border-color:  rgb(0, 0, 0 ,0.4);
    color: var(grayColor)
    
}
#searchbar:focus{
    color: black;
    border-color:  rgb(0, 0, 0 ,0.4);
}
.container .button{
    grid-area: button;
    height: 30%;
    width: 45%;
    border-radius: 5px;
    border: 1px solid transparent;
    justify-self: center;
    
}
.button button{
    margin-left: 10%;
    margin-right:10%;
    width: 120px;
    border-radius: 4px;
    height: 40px;
    border: none;
    outline-color:  rgb(90, 84, 84 ,0.4);
    
}


.navbar{
    display: grid;
    grid-column: 20% auto 10%;
    grid-template-areas: 
    "Left-aligned-navbar . right-aligned-navbar"
    ;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar ul{
    list-style-type: none;
    margin:0;
    padding: 0;

}
.navbar li{
    display: inline;
    padding-left: 15px;
    padding-right:15px;
    
}
.navbar a{
    
    color:   rgb(90, 84, 84);
    text-decoration: none;
    font-size: 15px;
}
.navbar a:hover{
    text-decoration:underline;
}

.right-aligned-navbar{
grid-area: right-aligned-navbar;

}
